<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Student Information</title>
    <style>

    </style>
</head>
<body>
<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Tailblocks</span>
    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-white">First Link</a>
      <a class="mr-5 hover:text-white">Second Link</a>
      <a class="mr-5 hover:text-white">Third Link</a>
      <a class="mr-5 hover:text-white">Fourth Link</a>
    </nav>
    <button class="inline-flex items-center bg-gray-800 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base mt-4 md:mt-0">Button
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-14 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-4xl text-3xl font-medium title-font mb-0 text-gray-900">Users Posts</h1>
    </div>
    <div class="lg:w-2/3 w-full mx-auto overflow-auto">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead>
          <tr>
            <th class="px-5 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-300 rounded-tl rounded-bl">id</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-300">Name</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-300">Topic</th>
<!--            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-100">Query</th>-->
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-300">Test</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-300">Delete</th>
            <th class="px-4 py-3 title-font tracking-wider font-medium text-gray-900 text-sm bg-gray-300">Update</th>
          </tr>
        </thead>
        <tbody>

                {% for student in students %}

          <tr>
            <td class="px-4 py-3">{{ student.id }}</td>
            <td class="px-4 py-3">{{ student.firstName }}</td>
            <td class="">{{ student.Topic }}</td>
<!--            <td class="px-4 py-3 text-lg text-gray-900">{{ student.lastName }}</td>-->
              <td class="w-10 text-center">{{ student.testScore }}</td>
            <td class=" w-10  text-center"><a class="text-white text-center bg-red-500 border-0 py-1 px-3 focus:outline-none hover:bg-red-600 rounded" href="/delete/{{student.id}}">Delete</a></td>
            <td class="w-10  text-center"><a class="text-white text-center bg-blue-500 border-0 py-1 px-3 focus:outline-none hover:bg-blue-600 rounded" href="/update/{{student.id}}">Update</a>
              </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
    <div class="flex pl-4 mt-4 lg:w-2/3 w-full mx-auto">
      <a class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Learn More
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    <a class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" href="/create"> Add Student </a>
    <a class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" href="/home"> Dashboard </a>
    </div>
  </div>
</section>
<!--    <h1>Students:</h1>-->
<!--    <table border="2">-->
<!--        <thead>-->
<!--            <th> id </th>-->
<!--            <th> firstName </th>-->
<!--            <th> Topic </th>-->
<!--            <th> LastName</th>-->
<!--            <th> Test Score </th>-->

<!--        </thead>-->
<!--        {% for student in students %}-->
<!--        <tr>-->
<!--            <td>{{ student.id }}</td>-->
<!--            <td>{{ student.firstName }}</td>-->
<!--            <td>{{ student.Topic }}</td>-->
<!--            <td>{{ student.lastName }}</td>-->
<!--            <td>{{ student.testScore }}</td>-->
<!--            <td><a href="/delete/{{student.id}}">Delete</a></td>-->
<!--            <td><a href="/update/{{student.id}}">Update</a></td>-->
<!--        </tr>-->

<!--        {% endfor %}-->

<!--    </table>-->
<!--    <br/><br/><br/>-->
<!--    <a href="/create"> Add Student </a>-->
<!--    <a href="/home"> dashboard </a>-->
</body>
</html>